include README.md POLICY.md CLIENT_DETAILED.md SERVERS_DETAILED.md SETUP.md LICENSE
include mimir/requirements.txt
recursive-include mimir/servers *.py *.json
recursive-include mimir/skills *.md
recursive-include mimir/client/config *.json
recursive-include mimir/examples *.py *.md
global-exclude __pycache__/* *.pyc
prune mimir/vscode-extension
prune slides
prune mimir/tests
